body {
    font-family: Verdana, sans-serif;
    color : indigo;
}

html {
    height: 99%;
}
body {
    position: relative;
    min-height: 99%;
    background-color:  #fbfff8;
}
#content {
    padding-bottom: 100px;
    background-color: #fbfff8;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #e3ffd0;
}
#header1 {
    background-color: #e3ffd0;
}
#header2 {
    background-color: #efffe4;
}
hr {
    padding : 0;
    margin : 0;
}